.homestudio-outer {
    min-height: 100vh;
    min-width: 100vw;
}

/* .homestudio-outer nav {
    height: 70px;
    border-bottom: 1px solid #ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.studiohome-logo {
    height: 100%;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.studiohome-logo img {
    height: 60px;
    width: 60px;
}

.studiohome-name {
    color: #ffff;
    font-size: 25px;
    font-weight: 800;
}

.studio-welcome {
    color: #ffff;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.studio-welcome span {
    margin: 10px;
    font-weight: 600;
}

.studio-grids {
    margin: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 20px;
}

.studio-grid-item {
    height: 200px;
    border: 2px solid #ffff;
}

.studio-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}


.studio-logo img {
    border: 2px solid white;
    border-radius: 50%;
    aspect-ratio: 1/1;
    height: 200px;
    object-fit: cover;
}

.studio-grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.studio-grid-head {
    border-bottom: 2px solid #ffff;
    padding-bottom: 10px;
    color: #ffff;
    font-size: 16px;
}

.studio-grid-content {
    margin-top: 20px;
    color: #ffff;
    font-size: 30px;
    font-weight: 600;
}

.studio-games-header {

    margin: 30px 20px 0 20px;
    color: #ffff;
    text-align: left;
    font-size: 20px;
    font-weight: 600;
}

.studio-games {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

@media(max-width:900px) {
    .studio-grids {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .studio-grid-item {
        height: 200px;
        border: 2px solid #ffff;
    }

    .studio-logo img {
        height: 150px;
    }

    .studio-games {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media(max-width:700px) {
    .studio-grids {
        grid-template-columns: 1fr 1fr;
    }

    .studio-grid-item {
        height: 100px;
        border: 2px solid #ffff;
    }

    .studio-logo img {
        height: 100px;
    }

    .studio-games {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width:400) {}